

.top-nav {
    position: fixed;
}

.nav-items {
    position: fixed;
    right: 10px;
}


#to-top-button {
    position: fixed;
    bottom: 30px;
    right: 10px;
    outline: none;
}